*.nc
/d_hex_sf_points_in_NARR_projection.rds
/d_hex_with_NARR_cell_numbers.rds
h3data_*
nei_*
*.qs
/*.pdf
/cv_output/
/county_fips_contig_us_5072.rds
/roads1100_sf_5072_unionized.rds
/us_h3_5_population.rds
/d_nearby_pm.rds
/us_h3_5_population_map.png
